/* body {
    margin: auto;
}

header{
    background: grey;
    width: 100%;
}

h1{
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    flex-direction: row;

}

nav {
    display:flex;
    gap: 30px;
    height: 70%;
    margin-right: 200px;
}

.botoes {
    font-size: 30px;
}

a {
    color: black;
} */